* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background: url(../img/bg-body.jpg) no-repeat;
    background-size: 100% 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.clock {
    width: 20em;
    height: 20em;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -12%;
    border-radius: 50%;
    border: 30px solid #EEE;
    padding: 10px;
}
.clock .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}
.clock .ball-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    background: #DDD;
    border-radius: 50%;
    margin-left: -1em;
    margin-top: -1em;
}
.clock .hand {
    width: 50%;
    height: 4px;
    background: #DDD;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    transform-origin: 100%;
/*    transition: all 0.2s;*/
/*    transition-timing-function: cubic-bezier(0.1, 2.1, 0.58, 1);*/
}
.clock .hand.hour-hand {
    width: 40%;
    height: 8px;
    margin-top: -4px;
    left: 10%;
}
.clock .hand.min-hand {
    width: 45%;
    left: 5%;
}
.clock .hand.second-hand {
    height: 2px;
    margin-top: -1px;
}

.clock-num {
    color: #FFF;
    padding: 0;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: -100px;
    left: 0;
}

.clock .all-number {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.clock .all-number > span {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    color:#333;
}
.clock .all-number .num12 {
    top: -27px;
    left: 50%;
    margin-left: -12.5px;
}
.clock .all-number .num1 {
    top: -10px;
    right: 47px;
}
.clock .all-number .num2 {
    top: 42px;
    right: -6px;
}
.clock .all-number .num3 {
    top: 50%;
    right: -27px;
    margin-top: -12.5px;
}
.clock .all-number .num4 {
    bottom: 42px;
    right: -6px;
}
.clock .all-number .num5 {
    bottom: -10px;
    right: 47px;
}
.clock .all-number .num6 {
    bottom: -27px;
    left: 50%;
    margin-left: -12.5px;
}
.clock .all-number .num7 {
    bottom: -10px;
    left: 47px;
}
.clock .all-number .num8 {
    bottom: 42px;
    left: -6px;
}
.clock .all-number .num9 {
    top: 50%;
    left: -27px;
    margin-top: -12.5px; 
}
.clock .all-number .num10 {
    top: 42px;
    left: -6px; 
}
.clock .all-number .num11 {
    top: -10px;
    left: 47px; 
}